FORMATO CSV

In [ ]:
import pandas as pd

df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1', delimiter=',')
df

Para obtener las primeras n filas del dataframe, podemos utilizar el metodo head. Su valor por defecto es 5

In [ ]:
df.head()

Si no quisieramos que aparezcan los elementos de la primera fila como los nombres de las columnas de datos, poder agregar el atributo header=None

In [ ]:
df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1', header=None)
df

Si quisieramos tomar una determinada linea como cabecera, debemos asignarle al parametro header el numero de la fila correspondiente

In [ ]:
df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1', header=3)
df

Para restringir la tabla a algunas columnas especificas, podemos realizarlo con el parametro **usecols** indicando en una lista las columnas

In [ ]:
df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1', usecols=['Nombre', 'Sueldo'])
df.head()

Para eliminar una fila en particular, podemos utilizar el parametro **skiprows**. En el siguiente caso se eliminan las filas 1 y 4

In [ ]:
df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1', skiprows=[1, 4])
df

Para obtener un numero dado de filas, podemos utilizar el parametro **nrows**

In [ ]:
df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1', nrows=3)
df

Para seleccionar un rango especifico de filas podemos utilizar el metodo query indicando los limites aplicables sobre una determinada columna

In [ ]:
df = pd.read_csv('../assets/employees.csv', encoding='ISO-8859-1')
df.query('4 < id < 7')

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('../assets/data.csv', encoding="ISO-8859-1")

data_x = df.nombre
data_y = df.sexo

x = []
for i in df.nombre:
    x.append(i)

y = []
for j in df.sexo:
    y.append(j)

print(f'{x} - {y}')

x_arr = np.array(x)
print(f'{type(x_arr)} - {x_arr}')

FORMATO EXCEL
==

>En el caso de trabajar directamente con un archivo excel, podemos utilizar el m√©todo __read_excel()__

FORMATO JSON
==

In [ ]:
import pandas as pd

df = pd.read_json('../assets/data.json')
df.head()

FORMATO HTML
==

In [ ]:
import pandas as pd

pd.read_html('../assets/index.html')

DATABASE
==

In [11]:
import pandas as pd
from sqlite3 import connect

con = connect('../assets/app.sqlite')
df = pd.read_sql_query('SELECT * FROM products', con=con)

df.head()

   Id       Name  Price
0   1  Iphone 15    100
1   2  Iphone 12    200
2   3  Iphone 13    300